@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;


}


body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.box {
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column

}

.figure {
    margin: auto;
    padding: auto;

}

.img-svg {
    background-image: url('blog-preview-card-main/assets/images/illustration-article.svg');
    background-repeat: no-repeat;
    margin: 20px;
    margin-right: 20px;
    margin-left: 32px;
    margin-bottom: 15px;
    width: 334px;
    height: 200px;
    border-radius: 10px;
}

input {

    font-size: 15px;
    background-color: hsl(47, 88%, 63%);
    background-repeat: no-repeat;
    border-radius: 5px;
    border-color: hsl(47, 88%, 63%);
    width: 30%;
    height: 21%;

    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin: 20px;
    margin-top: 7px;
    margin-bottom: 10px;
}

h5 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 15px;
}

h1 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 25px;
    color: hsl(47, 88%, 63%);
}

p {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 13px;
}

img {
    
    margin-left: 20px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    display: inline-flex;
    
}

h4 {
    margin-top: 30px;
    display:inline-flex;
    float:none;

}