@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;


}


body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.box {
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    border: 1px solid ;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px 10px 2px black;
    
}

.figure {
    margin: auto;
    padding: auto;
    

}

.img-svg {
    background-image: url('blog-preview-card-main/assets/images/illustration-article.svg');
    background-repeat: no-repeat;
    margin: 30px auto;
    width: 334px;
    height: 200px;
    border-radius: 10px;
}

button {

    font-size: 15px;
    background-color: hsl(47, 88%, 63%);
    background-repeat: no-repeat;
    border-radius: 5px;
    border-color: hsl(47, 88%, 63%);
    width: 30%;
    height: 6%;
    margin: 7px 20px 10px 32px;
    font-weight: 700;
}

h5 {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 15px;
}

h1 {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 0px;
    font-size: 25px;
    color: hsl(47, 88%, 63%);
}

p {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 13px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    

}

img {


    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
    
}


 

